<% if @user.nil? %>

	<form action='/createuser' method ='POST'>
	<label for='username'>Username</label>
	<input type="text" name="username">
	<label for="password">Password</label>   
	<input type="text" name="password">
	<label for="password">Retype Password</label>  <input type="password" name="password">
	<label for="fname">First Name</label>   
	<input type="text" name="fname">
	<label for="lname">Last Name</label>   
	<input type="text" name="lname">
	<label for="email">Email</label>   
	<input type="text" name="email">
	<label for="email">Retype Email</label>   
	<input type="text" name="email">
	<label for="handicap">Handicap</label>   
	<input type="text" name="handicap">
	<input type="submit" value="Create Account">
</form>

<% else %>

	<h3><%= @user.fname %>, Please Log Out to Create a New Account</h3>

<% end %>


