<!-- FORM FOR CREATING A USER
 -->


<form action='/createuser' method ='POST'>
	<label for='username'>Username</label>
	<input type="text" name="username">
	<label for="password">Password</label>   
	<input type="text" name="password">
	<label for="password">Retype Password</label>  <input type="password" name="password">
	<label for="fname">First Name</label>   
	<input type="text" name="fname">
	<label for="lname">Last Name</label>   
	<input type="text" name="lname">
	<label for="email">Email</label>   
	<input type="text" name="email">
	<label for="email">Retype Email</label>   
	<input type="text" name="email">
	<label for="handicap">Handicap</label>   
	<input type="text" name ="handicap">
</form>


	

<!-- Form for courses 
 -->
<form action='/addcourse' method ='POST'>
	<label for="coursename">Course Name</label>   
	<input type="coursename" name="Course Name">
	<label for="address">Address</label>   
	<input type="address" name="Address">
Insert boolean (public private here)
Insert Integer (numberOfholes)
Insert Integer (coursehandicap)
	<label for="description">Course Description</label>   
	<input type="description" name="Course Description">
</form>


<form action='/addreview' method ='POST'>
	<label for="courseplayed">Course Played</label><input type="courseplayed" name="Course Played">

</form>

  
