<h1>These are reviews</h1>

<form action='/addreview' method ='POST'>
	<label for='courseplayed'>Course</label>
	<input type='text' name='courseplayed'>
	<!-- DATE PLAYED
	DATE REVIEWED -->
	<br>
		Pace of Play<select><option value="Paceofplay">1</option><option value="Paceof play">2</option><option value="Paceofplay">3</option><option value="Paceofplay">4</option><option value="Paceofplay">5</option></select>
		
		Conditions<select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
		
		Staff<select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
		
		Facilities<select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
		
		Value<select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
	

	<br>	
		Recommend<select><option value="true">Yes</option><option value="false">No</option></select>	
	<br>
		<label for='review'>General Review</label>
		<input type='text' name='review'>
	<br>
		<label for='Hole1'>Hole 1 Notes</label>
		<input type='text' name='Hole1'>
	<br>
		<label for='Hole2'>Hole 2 Notes</label>
		<input type='text' name='Hole2'>
	<br>
		<label for='Hole3'>Hole 3 Notes</label>
		<input type='text' name='Hole3'>
	<br>
		<label for='Hole4'>Hole 4 Notes</label>
		<input type='text' name='Hole4'>
	<br>
		<label for='Hole5'>Hole 5 Notes</label>
		<input type='text' name='Hole5'>
	<br>
		<label for='Hole6'>Hole 6 Notes</label>
		<input type='text' name='Hole6'>
	<br>
		<label for='Hole7'>Hole 7 Notes</label>
		<input type='text' name='Hole7'>
	<br>
		<label for='Hole8'>Hole 8 Notes</label>
		<input type='text' name='Hole8'>
	<br>
		<label for='Hole9'>Hole 9 Notes</label>
		<input type='text' name='Hole9'>
	<br>
		<label for='Hole10'>Hole 10 Notes</label>
		<input type='text' name='Hole10'>
	<br>
		<label for='Hole11'>Hole 11 Notes</label>
		<input type='text' name='Hole11'>
	<br>
		<label for='Hole12'>Hole 12 Notes</label>
		<input type='text' name='Hole12'>
	<br>
		<label for='Hole13'>Hole 13 Notes</label>
		<input type='text' name='Hole13'>
	<br>
		<label for='Hole14'>Hole 14 Notes</label>
		<input type='text' name='Hole14'>
	<br>
		<label for='Hole15'>Hole 15 Notes</label>
		<input type='text' name='Hole15'>
	<br>
		<label for='Hole16'>Hole 16 Notes</label>
		<input type='text' name='Hole16'>
	<br>
		<label for='Hole17'>Hole 17 Notes</label>
		<input type='text' name='Hole17'>
	<br>
		<label for='Hole18'>Hole 18 Notes</label>
		<input type='text' name='Hole18'>
	<br>
		<input type="submit" value="Save Changes">
	

	
</form>


<!-- 
			t.string :courseplayed
  		t.datetime :dateplayed
  		t.datetime :datereviewed
  		t.integer :Paceofplay
  		t.integer :Conditions
  		t.integer :Staff
  		t.integer :Facilities
  		t.integer :Value
  		t.boolean :Reccomend
  		t.text :Hole1
  		
 -->


<!-- sex <select> <option value="sex"> Male </option> <option value="sex">Female </option></select>
</form>
 -->

<!-- <label for='username'>Username</label>
	<input type="text" name="username"> -->